<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotsHand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RobotsHand.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="hand_base" serializeAs="String">
                <value>База</value>
            </setting>
            <setting name="hand_shoulder" serializeAs="String">
                <value>Плечо</value>
            </setting>
            <setting name="hand_cubit" serializeAs="String">
                <value>Локоть</value>
            </setting>
            <setting name="hand_arm" serializeAs="String">
                <value>Кисть</value>
            </setting>
            <setting name="hand_turn" serializeAs="String">
                <value>Наклон</value>
            </setting>
            <setting name="hand_finger" serializeAs="String">
                <value>Пальцы</value>
            </setting>
            <setting name="delay_time" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="last_file" serializeAs="String">
                <value />
            </setting>
            <setting name="a_max" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="b_max" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="c_max" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="d_max" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="e_max" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="f_max" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="a_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="d_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="f_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ch_a" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="ch_b" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="ch_c" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="ch_d" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="ch_e" serializeAs="String">
                <value>e</value>
            </setting>
            <setting name="ch_f" serializeAs="String">
                <value>f</value>
            </setting>
        </RobotsHand.Properties.Settings>
    </userSettings>
</configuration>